*, *:before, *:after {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Pokemon';
    -moz-text-stroke: 2px blue;
    color: orange;
    font-size: 20px;
    height: 100%;
    position: relative;
}

img {
    width: 100%;
}

main {
    margin: 0 auto;
    max-width: 1024px;
}

h2 {
    font-size: 1.8rem;
    -webkit-text-stroke: 2px blue;
    color: solid orange;
    transition: all 200ms cubic-bezier(.17,.67,.83,.67);
    position: relative;
    width: 120px;
    height: 40px;
}

h3 {
    -webkit-text-stroke: 2px blue;
    color: solid orange;
}

h2 span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

h2 span:nth-of-type(1) {
    visibility: hidden;
    transform: scale(0.1);
}

.subtitle {
    height: auto;
    width: 100%;
}

.overlay {
    background: url('assets/qP3MVa.webp') no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .9;
    z-index: -1;
}

.content {
    color: orange;
    z-index: 2;     
}

.content h1{
    font-size: 100px;
    z-index: 20;
    -webkit-text-stroke: 6px blue;
    margin-bottom: 2rem;
}

.content p{
    color: black;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px 0;
}

.pokemons {
    display: flex;
    flex-wrap: wrap;
}

.pok {
    background-color: white;
    align-items: flex-start;
    border-radius: .8rem;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0, 0.6);
    display: flex;
    flex-direction: column;
    height: 28vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    z-index: 10;
    width: 18%;
    margin: 1rem;
}

.pok h2 span:nth-of-type(2) {
    visibility: visible;
    transform: scale(1) translateX(-50%);
}

.pok:hover h2 span:nth-of-type(1) {
    visibility: visible;
    transform: scale(1) translateX(-50%);
}

.pok:hover h2 span:nth-of-type(2) {
    visibility: hidden;
    transform: scale(0.1) translateX(-50%);
}

.pok:hover img {
    filter: none;
    transition:all .5s ease-in-out;
    transform:scale(1.5) rotate(-20deg) translateY(-20px);
}

.pok img {
    max-height: 100px;
    width: auto;
    filter: blur(8px);
}  

@media only screen and (min-width: 300px) {
    .pok {
        width: 100%;
    }
  }

@media only screen and (min-width: 480px) {
    .pok {
        width: 35%;
    }
  }

@media only screen and (min-width: 600px) {
    .pok {
        width: 25%;
    }
  }

@media only screen and (min-width: 1024px) {
    .pok {
        width: 18%;
    }
  }